@import "../../../styles/colors.scss";

.pretty-link {
  text-decoration: none;
  color: black;
  background-color: $light-grey;
  padding: 10px;
  border-radius: 5px;
  width: 120px;
  margin: 5px;
}
