@import "../../../styles/colors.scss";

.header {
  &__container {
    background-color: $grey;
    padding: 30px 2%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .links-container {
      margin-top: 20px;
      width: 40%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
}
