@import "../../../styles/colors";

.footer {
  background-color: $light-grey;
  padding: 50px 10%;
  display: flex;
  flex-direction: row;

  h5,
  p {
    margin-top: -10px;
  }

  &__column {
    display: flex;
    flex-direction: column;
    width: 25%;
    text-align: start;
  }
}
